<VirtualHost *:80>
    ServerAdmin boborabit@gmail.com
    DocumentRoot /home/robin/www/phpdoc.localhost
    ServerName phpdoc.localhost
    <Directory /home/robin/www/phpdoc.localhost>
        Options Indexes FollowSymLinks MultiViews
        Require all granted
    </Directory>
    ErrorLog ${APACHE_LOG_DIR}/phpdoc.localhost.error.log
    LogLevel warn
    CustomLog ${APACHE_LOG_DIR}/phpdoc.localhost.access.log combined
</VirtualHost>

